{
	"printWidth": 90,
	"useTabs": true,
	"semi": true,
	"tabWidth": 4,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"arrowParens": "always",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}
